/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*development hack*/
* {
  /*	outline: solid .1rem #ddd;*/
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end meyer reset*/

*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #0e0b06;
  font-size: 10px;
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* TEXT */

h1 {
  font-family: "UnifrakturCook", cursive;
  font-size: 4.4rem;
  font-weight: ;
  text-transform: ;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
}

h3 {
  font-family: "UnifrakturCook", cursive;
  font-size: 2.4rem;
}

h4 {
}

h5 {
}

h6 {
}

p {
  color: #4f4f4f;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 80rem;
  text-align: left;
}

/* images */

img {
  height: auto;
  max-width: 100%;
}

/* hero */

header {
  background-image: url(../images/16x9-full-width.png);
}

/* work section */
.work-section {
  margin: 5rem 1rem;
}

.women-section {
  background-image: url(../images/16x9-with-margin.png);
  margin: 1.5rem 0;
}

.men-section {
  background-image: url(../images/16x9-with-margin.png);
  margin: 1.5rem 0;
}

.testimonial-section {
  background-image: url(../images/16x9-with-margin.png);
  margin: 1.5rem 0;
}

.tips-section {
  background-image: url(../images/16x9-with-margin.png);
  margin: 1.5rem 0;
}

.gallery-section {
  background-image: url(../images/16x9-with-margin.png);
  margin: 1.5rem 0;
}

.landing-image-headers {
  text-align: center;
}

.women-section,
.men-section,
.testimonial-section,
.tips-section,
.gallery-section {
  padding: 2.5rem 0;
}
